body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1125px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

button {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: $color-yellow;
  width: 265px;
  height: 64px;
  margin: 54px auto 0px auto;
  z-index: 2;
}

h2 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 110%;
  margin-top: 120px;
  margin-bottom: 50px;
  font-size: 48px;
  text-align: center;
}