body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1125px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

button {
  grid-area: button;
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: $color-yellow;
  max-width: 265px;
  height: 64px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 0 auto;
  z-index: 2;
}

.button_yellow {
}

h1 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 1.1;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 48px;
  text-align: center;
}

h3 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

h4 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.contact-info {
  display: grid;
  grid-template-areas:
    "phone   company   mail"
    "title   title     title"
    "button  button    button";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: $color-white;

  &__phone {
    grid-area: phone;
    display: flex;
    flex-direction: column;
    justify-self: start;
  }

  &__number {
    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__company {
    grid-area: company;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
  }

  &__name {
    font-size: 25px;
    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__description {
    font-family: "RF-Dewi-regular", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
  }

  &__mail {
    grid-area: mail;
    display: flex;
    flex-direction: column;
    justify-self: end;
  }

  &__email {
    font-family: "RF-Dewi-Expanded", sans-serif;
    display: block;
    text-transform: uppercase;
  }

  .hero__title {
    grid-area: title;
    position: relative;
    color: $color-white;
    margin-top: 133px;
  }
}

@media (max-width: 715px) {
  header {
    padding-bottom: 33px;
  }

  .container {
    width: 100%;
    max-width: 560px;
    margin-inline: auto;
  }

  button {
    width: 100%;
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  .contact-info {
    display: grid;
    grid-template-areas:
      "company company company"
      "title   title   title"
      "button  button  button"
      "phone   .       mail";

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .contact-info__footer {
    display: grid;
    grid-template-areas:
      "company company company"
      "title title title"
      "phone phone phone"
      "mail mail mail"
      "button button button";

    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
  }

  .contact-info__phone {
    margin-top: 40px;
  }

  .contact-info__mail {
    margin-top: 40px;
    justify-self: start;
  }
}
