@import "normolize";
@import "fonts";
@import "variables";
@import "basic";

.header {
  position: relative;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 213px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110000;
    opacity: 0.6;
    z-index: 1;
  }

  &__title {
    position: relative;
    font-family: "RF-Dewi-Expanded", sans-serif;
    font-weight: 800;
    color: $color-white;
    line-height: 120%;
    font-size: 60px;
    display: block;
    margin: 133px auto 0px auto;
    text-align: center;
    z-index: 2;
  }

  &__title span {
    display: block;
  }
}

.catalog__title_black {
  span {
    display: block;
  }
}

.catalog__description {
  text-align: center;
  margin-bottom: 80px;
}

.catalog__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 106px;

  .catalog__item {
    a {
      position: relative;
      margin-top: 21px;
      display: block;
      font-size: 24px;

      span {
        position: absolute;
        margin-left: 15px;
        font-size: 18px;

        &::after {
          content: " ₽";
        }
      }
    }
  }

  & img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-image: url("/images/presentation.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: $color-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110000;
    opacity: 0.6;
    border-radius: inherit;
  }

  &__title_white {
    margin-top: 80px;
    margin-bottom: 37px;
    color: $color-white;
    z-index: 1;

    span {
      display: block;
    }
  }

  &__video-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer;
  }

  &__treangle {
    position: absolute;
    z-index: 1;
  }
}

.cooperation {
  margin-top: -175px;
  padding-bottom: 131px;
  padding-top: 175px;
  background-color: $color-grey;

  .cooperation__title span {
    display: block;
  }

  &__description {
    width: 738px;
    text-align: center;
    margin: {
      top: 0;
      bottom: 80px;
      left: auto;
      right: auto;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
  }

  .cooperation__service-title {
    margin-top: 34px;
    margin-bottom: 25px;

    span {
      display: block;
    }
  }
  .cooperation__service-description {
    text-align: center;
  }
}

.methods {
  padding-bottom: 135px;
}

.methods__title span {
  display: block;
}

.methods__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;

  .methods__silkscreen {
    img {
      height: 316px;
      width: 100%;
      object-fit: cover;
    }
    .methods__title {
      margin-top: 40px;
      margin-bottom: 23px;
    }

    .methods__description {
      text-align: center;
    }
  }
  .methods__printing {
    img {
      height: 316px;
      width: 100%;
      object-fit: cover;
    }
    .methods__title {
      margin-top: 40px;
      margin-bottom: 23px;
    }

    .methods__description {
      text-align: center;
    }
  }
}

.partner {
  position: relative;
  background-color: $color-dark;
  border-radius: 15px;
  margin-bottom: -170px;

  &__background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
      border-radius: 15px;
    }
  }

  &__background::after {
    content: "";
    position: absolute;
    background-color: $color-dark;
    height: 100%;
    width: 100%;
    border-radius: 16px;
    opacity: 0.6;
  }

  &__info {
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__title_white {
    margin: 0 auto;
    width: 632px;
    color: $color-white;
    margin-bottom: 26px;
  }

  &__description_white {
    width: 620px;
    margin: 0 auto;
    color: $color-white;
    text-align: center;
  }
}

.work {
  padding-top: 298px;
  padding-bottom: 200px;
  background-color: $color-dark;

  &__title {
    margin-top: 0px;
    color: $color-white;
    margin-bottom: 36px;
  }

  &__description {
    margin: 0 auto;
    margin-bottom: 68px;
    width: 660px;
    color: $color-white;
    text-align: center;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    text-align: center;

    .work__icon {
      .work__circle {
        width: 114px;
        height: 114px;
        background-color: #222222;
        border-radius: 50%;
        position: relative;
        display: flex;
        margin: 0 auto 42px auto;

        .work__svg {
          margin: auto;
        }
      }

      &-description {
        width: 160px;
        color: $color-white;
      }
    }
  }
}

.production {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;

  &__title {
    width: 1175px;
  }

  &__description {
    width: 610px;
    text-align: center;
    margin-bottom: 80px;
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;

    .production__photo {
      border-radius: 4px;
    }
  }
}

.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $color-grey;
  border-radius: 14px 14px 20px 20px;
  margin-bottom: -764px;

  &__title {
    width: 821px;
    margin-bottom: 34px;

    span {
      display: block;
    }
  }

  &__description {
    width: 530px;
    margin-bottom: 60px;
  }

  &__adress-container {
    .shops__gallery {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .shops__section-1 img {
        width: 100%;
        height: 472px;
        object-fit: cover;
        border-radius: 0px 0px 0px 14px;
      }

      .shops__section-2 img {
        width: 100%;
        height: 472px;
        object-fit: cover;
        border-radius: 0px 0px 14px 0px;
      }
    }
  }
}

.partners {
  padding-top: 764px;
  padding-bottom: 80px;
  background-color: $color-dark;

  &__title {
    color: $color-white;
    margin-bottom: 40px;
  }
  &__description {
    color: $color-white;
    text-align: center;
    margin-bottom: 100px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    img {
      height: 350px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: $color-white;

  &__number {
    display: flex;
    flex-direction: column;
    justify-self: start;

    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__company {
    text-align: center;
    text-transform: uppercase;
  }

  &__name {
    display: block;
    font-size: 25px;
    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__description {
    font-family: "RF-Dewi-regular", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
  }

  &__mail {
    display: flex;
    flex-direction: column;
    justify-self: end;
  }

  &__email {
    font-family: "RF-Dewi-Expanded", sans-serif;
    display: block;
    text-transform: uppercase;
  }
}

footer {
  background-color: $color-dark;

  .container {
    padding-top: 60px;
    padding-bottom: 34px;
    border-top: 1px solid $color-line;

    .contact-info__description {
      text-transform: capitalize;
    }

    .footer__button {
      margin-top: 48px;
    }
  }
}
