@import "normolize";
@import "fonts";
@import "variables";
@import "basic";

.header {
  position: relative;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 213px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110000;
    opacity: 0.6;
    z-index: 1;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 133px;
    color: $color-white;

    &__number {
      display: block;
      font-family: "RF-Dewi-Expanded", sans-serif;
    }

    &__company {
      text-align: center;
      text-transform: uppercase;
    }

    &__name {
      display: block;
      font-size: 25px;
      font-family: "RF-Dewi-Expanded", sans-serif;
    }

    &__description {
      font-family: "RF-Dewi-regular", sans-serif;
    }

    &__email {
      font-family: "RF-Dewi-Expanded", sans-serif;
      display: block;
      text-transform: uppercase;
    }
  }

  &__title {
    position: relative;
    font-family: "RF-Dewi-Expanded", sans-serif;
    font-weight: 800;
    color: $color-white;
    line-height: 120%;
    font-size: 60px;
    display: block;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
  }

  &__title span {
    display: block;
  }
}

.catalog__title_black {
  span {
    display: block;
  }
}

.catalog__description {
  text-align: center;
  margin-bottom: 80px;
}

.catalog__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 106px;

  .catalog__item {
    a {
      position: relative;
      margin-top: 21px;
      display: block;
      font-size: 24px;

      span {
        position: absolute;
        margin-left: 15px;
        font-size: 18px;

        &::after {
          content: " ₽";
        }
      }
    }
  }

  & img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-image: url("/images/presentation.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: $color-white;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110000;
    opacity: 0.6;
    border-radius: inherit;
  }

  &__title_white {
    margin-top: 80px;
    margin-bottom: 37px;
    color: $color-white;
    z-index: 1;

    span {
      display: block;
    }
  }

  &__video-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer;
  }

  &__treangle {
    position: absolute;
    z-index: 1;
  }
}

.production {
  margin-top: -175px;
  padding-bottom: 131px;
  padding-top: 175px;
  background-color: $color-grey;

  .production__title span {
    display: block;
  }

  &__description {
    width: 738px;
    text-align: center;
    margin: {
      top: 0;
      bottom: 80px;
      left: auto;
      right: auto;
    }
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
  }

  .production__service-title {
    margin-top: 34px;
    margin-bottom: 25px;

    span {
      display: block;
    }
  }
  .production__service-description {
    text-align: center;
  }
}

.methods {
  padding-bottom: 320px;
}

.methods__title span {
  display: block;
}

.methods__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;

  .methods__silkscreen {
    img {
      height: 316px;
      width: 100%;
      object-fit: cover;
    }
    .methods__title {
      margin-top: 40px;
      margin-bottom: 23px;
    }

    .methods__description {
      text-align: center;
    }
  }
  .methods__printing {
    img {
      height: 316px;
      width: 100%;
      object-fit: cover;
    }
    .methods__title {
      margin-top: 40px;
      margin-bottom: 23px;
    }

    .methods__description {
      text-align: center;
    }
  }
}

.partner {
  background-color: $color-dark;
  border-radius: 15px;
  

  &__background {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
      border-radius: 15px;
    }
  }

  &__title_white {
    color: $color-white;
    margin-bottom: 26px;
  }

  &__description_white {
    color: $color-white;
    text-align: center;
  }
}
