@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-regular";
  src: url("/fonts/rf-dewi-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-Expanded";
  src: url("/fonts/rf-dewi-expanded-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1125px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

button {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: #f4df74;
  width: 265px;
  height: 64px;
  margin: 54px auto 0px auto;
  z-index: 2;
}

h2 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 1.1;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 48px;
  text-align: center;
}

h3 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

h4 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

.header {
  position: relative;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 213px;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110000;
  opacity: 0.6;
  z-index: 1;
}
.header .contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 133px;
  color: #ffffff;
}
.header .contact-info__number {
  display: block;
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.header .contact-info__company {
  text-align: center;
  text-transform: uppercase;
}
.header .contact-info__name {
  display: block;
  font-size: 25px;
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.header .contact-info__description {
  font-family: "RF-Dewi-regular", sans-serif;
}
.header .contact-info__email {
  font-family: "RF-Dewi-Expanded", sans-serif;
  display: block;
  text-transform: uppercase;
}
.header__title {
  position: relative;
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-weight: 800;
  color: #ffffff;
  line-height: 120%;
  font-size: 60px;
  display: block;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}
.header__title span {
  display: block;
}

.catalog__title_black span {
  display: block;
}

.catalog__description {
  text-align: center;
  margin-bottom: 80px;
}

.catalog__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 106px;
}
.catalog__categories .catalog__item a {
  position: relative;
  margin-top: 21px;
  display: block;
  font-size: 24px;
}
.catalog__categories .catalog__item a span {
  position: absolute;
  margin-left: 15px;
  font-size: 18px;
}
.catalog__categories .catalog__item a span::after {
  content: " ₽";
}
.catalog__categories img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-image: url("/images/presentation.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #ffffff;
}
.presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110000;
  opacity: 0.6;
  border-radius: inherit;
}
.presentation__title_white {
  margin-top: 80px;
  margin-bottom: 37px;
  color: #ffffff;
  z-index: 1;
}
.presentation__title_white span {
  display: block;
}
.presentation__video-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
  cursor: pointer;
}
.presentation__treangle {
  position: absolute;
  z-index: 1;
}

.production {
  margin-top: -175px;
  padding-bottom: 131px;
  padding-top: 175px;
  background-color: #EEEEEE;
}
.production .production__title span {
  display: block;
}
.production__description {
  width: 738px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.production__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}
.production .production__service-title {
  margin-top: 34px;
  margin-bottom: 25px;
}
.production .production__service-title span {
  display: block;
}
.production .production__service-description {
  text-align: center;
}

.methods {
  padding-bottom: 320px;
}

.methods__title span {
  display: block;
}

.methods__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;
}
.methods__services .methods__silkscreen img {
  height: 316px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.methods__services .methods__silkscreen .methods__title {
  margin-top: 40px;
  margin-bottom: 23px;
}
.methods__services .methods__silkscreen .methods__description {
  text-align: center;
}
.methods__services .methods__printing img {
  height: 316px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.methods__services .methods__printing .methods__title {
  margin-top: 40px;
  margin-bottom: 23px;
}
.methods__services .methods__printing .methods__description {
  text-align: center;
}

.partner {
  background-color: #1A1A1A;
  border-radius: 15px;
}
.partner__background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.partner__background img {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.partner__title_white {
  color: #ffffff;
  margin-bottom: 26px;
}
.partner__description_white {
  color: #ffffff;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */