@import "normolize";
@import "variables";
@import "mixins";
@import "fonts";
@import "basic";
@import "titles";

.hero {
  position: relative;
  padding-top: 214px;
  padding-bottom: 214px;

  &__img {
    @include absolute;

    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    z-index: -2;
  }
  &__title {
    @include section-title($color-white);
  }

  &::before {
    content: "";
    @include absolute;

    background-color: $color-hero;
    opacity: 0.6;
    z-index: -1;
  }
}

.catalog {
  padding-bottom: 275px;

  &__title {
    @include section-title($color-dark);
  }

  &__description {
    @include section-description($color-dark);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }

  &__item {
    &-price {
      align-self: flex-start;
      font-size: 18px;
      vertical-align: top;

      &::after {
        content: " ₽";
      }
    }

    &-img {
      aspect-ratio: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    &-name {
      font-size: 24px;
    }
  }
}

.presentation {
  background-color: $color-grey;

  &__bg {
    margin-top: -225px;
    position: relative;
    min-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
    border-radius: 16px;
  }

  &__img {
    @include absolute;

    object-fit: cover;
    z-index: -2;
  }

  &__bg::before {
    content: "";
    @include absolute;

    background-color: $color-dark;
    opacity: 0.6;
    z-index: -1;
  }

  &__title {
    @include section-title($color-white);
  }

  &__video-circle {
    cursor: pointer;
    margin: 20px auto 0;
  }

  &__play-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 105px;
    background-color: $color-dark;
    opacity: 0.8;
    border-radius: 50%;
    border: 0;

    &::before {
      @include absolute(30%, 30%, 0, 0);

      content: "";
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 35px solid $color-white;
      opacity: 1;
      margin-left: 5px;
    }
  }

  &__video-circle:hover &__play-button {
    opacity: 1;
    background-color: $color-white;

    &::before {
      border-left-color: $color-dark;
    }
  }
}

.cooperation {
  padding-bottom: 100px;
  background-color: $color-grey;

  &__title {
    @include section-title($color-dark);
  }

  &__description {
    @include section-description($color-dark);
  }

  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
  }

  &__service-title {
    @include section-title($color-dark);
    margin-top: 34px;
    margin-bottom: 25px;
  }

  &__service-description {
    text-align: center;
  }
}

.methods {
  padding-bottom: 300px;

  &__title {
    @include section-title($color-dark);
  }

  &__services {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px;
  }

  &__img {
    height: 316px;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    @include section-title($color-dark);
    margin-top: 40px;
    margin-bottom: 23px;
  }

  &__description {
    text-align: center;
  }
}

.partner {
  background-color: $color-dark;

  &__bg {
    margin-top: -225px;
    border-radius: 14px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;

    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }

  &__bg::after {
    @include absolute;

    content: "";
    background-color: $color-dark;
    opacity: 0.6;
  }

  &__info {
    @include absolute(20%, 0%, 100%, 100%);

    margin-top: 50px;
    z-index: 1;
  }
  &__title {
    @include section-title($color-white);
  }

  &__description {
    @include section-description($color-white);
  }
}

.work {
  background-color: $color-dark;
  padding-bottom: 130px;

  &__title {
    @include section-title($color-white);
  }

  &__description {
    @include section-description($color-white);
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }

  &__circle {
    width: 114px;
    height: 114px;
    background-color: #222222;
    border-radius: 50%;
    position: relative;
    display: flex;
    margin: 0 auto 42px auto;
  }

  &__svg {
    margin: auto;
  }

  &__icon-description {
    max-width: 160px;
    color: $color-white;
  }
}

.production {
  padding-bottom: 275px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    @include section-title($color-dark);
  }

  &__description {
    @include section-description($color-dark);
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;
  }

  &__photo {
    border-radius: 4px;
    aspect-ratio: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.shops {
  background-color: $color-dark;

  &__title {
    @include section-title($color-dark);
  }

  &__description {
    @include section-description($color-dark);
  }

  &__bg {
    margin-top: -225px;
    background-color: $color-grey;
    border-radius: 14px 14px 20px 20px;
    padding-top: 100px;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__section-1 img {
    width: 100%;
    height: 472px;
    object-fit: cover;
    border-radius: 0px 0px 0px 14px;
  }

  &__section-2 img {
    width: 100%;
    height: 472px;
    object-fit: cover;
    border-radius: 0px 0px 14px 0px;
  }
}

.partners {
  background-color: $color-dark;

  &__title {
    @include section-title($color-white);
  }

  &__description {
    @include section-description($color-white);
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    img {
      aspect-ratio: 1;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }
}

footer {
  .container {
    border-top: 1px solid $color-line;
  }
}

@import "media(715)";
