@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-regular";
  src: url("/fonts/RFDewi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-Expanded";
  src: url("/fonts/rf-dewi-expanded-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1125px;
  margin-inline: auto;
  position: relative;
  z-index: 2;
}

button {
  grid-area: button;
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  text-align: center;
  position: relative;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: #f4df74;
  max-width: 265px;
  height: 64px;
  padding-left: 36px;
  padding-right: 36px;
  margin: 54px auto 0px auto;
  z-index: 2;
}

h1 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 1.1;
  margin-top: 120px;
  margin-bottom: 80px;
  font-size: 48px;
  text-align: center;
}

h3 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

h4 {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
}

header {
  position: relative;
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 213px;
}

.contact-info {
  display: grid;
  grid-template-areas: "phone   company   mail" "title   title     title" "button  button    button";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  color: #ffffff;
}
.contact-info__phone {
  grid-area: phone;
  display: flex;
  flex-direction: column;
  justify-self: start;
}
.contact-info__number {
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.contact-info__company {
  grid-area: company;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.contact-info__name {
  font-size: 25px;
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.contact-info__description {
  font-family: "RF-Dewi-regular", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: 400;
}
.contact-info__mail {
  grid-area: mail;
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.contact-info__email {
  font-family: "RF-Dewi-Expanded", sans-serif;
  display: block;
  text-transform: uppercase;
}
.contact-info .header__title {
  grid-area: title;
  position: relative;
  color: #ffffff;
  margin-top: 133px;
}

@media (max-width: 715px) {
  header {
    padding-bottom: 33px;
  }
  .container {
    width: 100%;
    max-width: 560px;
    margin-inline: auto;
  }
  button {
    width: 100%;
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  .contact-info {
    display: grid;
    grid-template-areas: "company company company" "title   title   title" "button  button  button" "phone   .       mail";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .contact-info .header__button {
    margin-bottom: 169px;
  }
  .contact-info__footer {
    display: grid;
    grid-template-areas: "company company company" "title title title" "phone phone phone" "mail mail mail" "button button button";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
  }
  .contact-info__phone {
    margin-top: 40px;
  }
  .contact-info__mail {
    margin-top: 40px;
    justify-self: start;
  }
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110000;
  opacity: 0.6;
  z-index: 1;
}
.header__title span {
  display: block;
}

.catalog__title_black span {
  display: block;
}

.catalog__description {
  text-align: center;
  margin-bottom: 80px;
}

.catalog__categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 106px;
}
.catalog__categories .catalog__item a {
  margin-top: 21px;
  display: block;
  font-size: 24px;
  width: fit-content;
}
.catalog__categories .catalog__item a span {
  align-self: flex-start;
  font-size: 18px;
  vertical-align: top;
}
.catalog__categories .catalog__item a span::after {
  content: " ₽";
}
.catalog__categories img {
  aspect-ratio: 1;
  object-fit: cover;
}

.presentation {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  background-image: url("/images/presentation.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #ffffff;
}
.presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110000;
  opacity: 0.6;
  border-radius: inherit;
}
.presentation__title_white {
  margin-top: 80px;
  margin-bottom: 37px;
  color: #ffffff;
  z-index: 1;
}
.presentation__title_white span {
  display: block;
}
.presentation__video-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 70px;
  cursor: pointer;
}
.presentation__treangle {
  position: absolute;
  z-index: 1;
}

.cooperation {
  margin-top: -175px;
  padding-bottom: 131px;
  padding-top: 175px;
  background-color: #EEEEEE;
}
.cooperation .cooperation__title span {
  display: block;
}
.cooperation__description {
  width: 100%;
  max-width: 738px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
}
.cooperation__services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}
.cooperation .cooperation__service-title {
  margin-top: 34px;
  margin-bottom: 25px;
}
.cooperation .cooperation__service-title span {
  display: block;
}
.cooperation .cooperation__service-description {
  text-align: center;
}

.methods {
  padding-bottom: 135px;
}

.methods__title span {
  display: block;
}

.methods__services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 37px;
}
.methods__services .methods__silkscreen img {
  height: 316px;
  width: 100%;
  object-fit: cover;
}
.methods__services .methods__silkscreen .methods__title {
  margin-top: 40px;
  margin-bottom: 23px;
}
.methods__services .methods__silkscreen .methods__description {
  text-align: center;
}
.methods__services .methods__printing img {
  height: 316px;
  width: 100%;
  object-fit: cover;
}
.methods__services .methods__printing .methods__title {
  margin-top: 40px;
  margin-bottom: 23px;
}
.methods__services .methods__printing .methods__description {
  text-align: center;
}

.partner {
  position: relative;
  background-color: #1A1A1A;
  border-radius: 15px;
  margin-bottom: -170px;
}
.partner__background {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.partner__background img {
  height: 350px;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.partner__background::after {
  content: "";
  position: absolute;
  background-color: #1A1A1A;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  opacity: 0.6;
}
.partner__info {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%);
}
.partner__title_white {
  margin: 0 auto;
  max-width: 632px;
  color: #ffffff;
  margin-bottom: 26px;
}
.partner__description_white {
  max-width: 620px;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}

.work {
  padding-top: 298px;
  padding-bottom: 149px;
  background-color: #1A1A1A;
}
.work__title {
  margin-top: 0px;
  color: #ffffff;
  margin-bottom: 36px;
}
.work__description {
  margin: 0 auto;
  margin-bottom: 68px;
  max-width: 660px;
  color: #ffffff;
  text-align: center;
}
.work__icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.work__icons .work__icon .work__circle {
  width: 114px;
  height: 114px;
  background-color: #222222;
  border-radius: 50%;
  position: relative;
  display: flex;
  margin: 0 auto 42px auto;
}
.work__icons .work__icon .work__circle .work__svg {
  margin: auto;
}
.work__icons .work__icon-description {
  max-width: 160px;
  color: #ffffff;
}

.production {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}
.production__title {
  max-width: 1175px;
}
.production__description {
  max-width: 610px;
  text-align: center;
  margin-bottom: 80px;
}
.production__photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
.production__photos .production__photo {
  border-radius: 4px;
  aspect-ratio: 1;
  object-fit: cover;
}

.shops {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #EEEEEE;
  border-radius: 14px 14px 20px 20px;
  margin-bottom: -764px;
}
.shops__title {
  max-width: 821px;
  margin-bottom: 34px;
}
.shops__title span {
  display: block;
}
.shops__description {
  max-width: 530px;
  margin-bottom: 60px;
}
.shops__adress-container .shops__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.shops__adress-container .shops__gallery .shops__section-1 img {
  width: 100%;
  height: 472px;
  object-fit: cover;
  border-radius: 0px 0px 0px 14px;
}
.shops__adress-container .shops__gallery .shops__section-2 img {
  width: 100%;
  height: 472px;
  object-fit: cover;
  border-radius: 0px 0px 14px 0px;
}

.partners {
  padding-top: 764px;
  padding-bottom: 80px;
  background-color: #1A1A1A;
}
.partners__title {
  color: #ffffff;
  margin-bottom: 40px;
}
.partners__description {
  color: #ffffff;
  text-align: center;
  margin-bottom: 100px;
}
.partners__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.partners__gallery img {
  aspect-ratio: 1;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

footer {
  background-color: #1A1A1A;
}
footer .container {
  padding-top: 60px;
  padding-bottom: 34px;
  border-top: 1px solid #2C2C2C;
}
footer .container .contact-info__description {
  text-transform: capitalize;
}
footer .container .footer__button {
  margin-top: 48px;
}

@media (max-width: 715px) {
  .catalog__categories {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .catalog__categories .catalog__item .catalog__item-price {
    font-size: 14px;
  }
  .cooperation__services {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .methods__services {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
  .partner__info {
    width: 100%;
    max-width: 462px;
  }
  .work__icon {
    width: 50%;
    margin-bottom: 61px;
  }
  .work__icon-description {
    width: 100%;
    min-width: 100px;
    margin-inline: auto;
  }
  .production__photos {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 34px;
  }
  .partners .container .partners__gallery .partners__item:first-child {
    display: none;
  }
  .shops__adress-container .shops__gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .shops__adress-container .shops__gallery .shops__section-1 img {
    border-radius: 0px;
  }
  .shops__adress-container .shops__gallery .shops__section-2 img {
    border-radius: 0px 0px 14px 14px;
  }
}
@media (max-width: 430px) {
  h1 {
    font-size: 20px;
  }
  .contact-info {
    display: grid;
    grid-template-areas: "company company company" "title title title" "button button button" "phone phone phone" "mail  mail mail";
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .contact-info__phone {
    margin-top: 30px;
  }
  .contact-info__mail {
    margin-top: 30px;
    justify-self: flex-start;
  }
  .catalog__categories .catalog__item a {
    font-size: 14px;
  }
  .catalog__categories .catalog__item .catalog__item-price {
    vertical-align: top;
    font-size: 10px;
  }
}/*# sourceMappingURL=styles.css.map */