html {
  height: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.button {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: $color-yellow;
  max-width: 265px;
  height: 64px;
  padding: 0 36px;
  margin: 40px auto 0;
  cursor: pointer;

  @include hover {
    background-color: $color-grey;
  }
}

.header {
  @include absolute(0, 0, 100%, 0);
}

main {
  flex: 1 0 auto;
}

.contact {
  @include flex(row, space-between);

  color: $color-white;
  z-index: 1;

  &__phone {
    @include flex;
  }

  &__number {
    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__button {
    text-align: left;
    display: inline;
    padding: 0px;
    margin: 0px;
    color: $color-white;
    box-shadow: none;
    transform: none;
    background-color: transparent;
    border: none;
    outline: none;

    @include hover {
      text-decoration: underline;
    }
  }

  &__company {
    @include flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
  }

  &__name {
    font-size: 25px;
    font-family: "RF-Dewi-Expanded", sans-serif;
  }

  &__description {
    font-family: "RF-Dewi-Expanded", sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    font-weight: 400;
  }

  &__mail {
    @include flex;
  }

  &__email {
    font-family: "RF-Dewi-Expanded", sans-serif;
    display: block;
    text-transform: uppercase;
  }

  &--footer {
    padding-top: 30px;
  }
}

.contact--capitalize {
  text-transform: capitalize;
}

footer {
  background-color: $color-dark;
  flex-shrink: 0;
}
