@media (max-width: 715px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  button {
    width: 100%;
    height: auto;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .cooperation__items {
    @include items(1);
  }

  .methods__items {
    @include items(1);
  }

  .partner__info {
    @include absolute;
  }

  .work__icon {
    width: 50%;
    margin-bottom: 61px;
  }

  .work__icon-description {
    width: 100%;
    min-width: 100px;
    margin-inline: auto;
  }

  .production__items {
    @include items(2);
  }

  .partners {
    &__gallery {
      @include items(2);
    }
  }
  .catalog__items {
    @include items(2);
  }

  .catalog__item {
    &-price {
      font-size: 14px;
    }
  }

  .partners__items:first-child {
    display: none;
  }

  .shops {
    &__items {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    &__section-1 img {
    }

    &__section-2 img {
    }
  }
}
