@media (max-width: 827px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  .contact {
    margin-top: 550px;

    &__company {
      top: 50px;
    }

    &--footer {
      padding-top: 170px;
      margin-top: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }

    &--center {
      text-align: center;
    }
  }

  .cooperation__items {
    @include items(1);
  }

  .methods__items {
    @include items(1);
  }

  .partner__info {
    @include absolute;
  }

  .work__icon {
    width: 50%;
    margin-bottom: 61px;
  }

  .work__icon-description {
    width: 100%;
    min-width: 100px;
    margin-inline: auto;
  }

  .production__items {
    @include items(2);
  }

  .partners {
    &__items {
      @include items(2);
    }

    &__item:first-child {
      display: none;
    }
  }

  .catalog {
    &__items {
      @include items(2);
    }

    &__item {
      &-price {
        font-size: 14px;
      }
    }
  }

  .shops {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

    &__section-1 img {
      border-radius: 0;
    }

    &__section-2 img {
      border-radius: 0px 0px 14px 14px;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  .catalog {
    &__items {
      @include items(1);
    }
  }
  .contact {
    @include flex(column, center);
    margin-top: 450px;
    align-items: center;

    text-align: center;

    &--footer {
      margin-top: 0;
    }
  }
}
