@mixin absolute($top: 0, $left: 0, $width: 100%, $height: 100%) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
}

@mixin flex($direction: column, $justify-content: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
}

@mixin items($columns: 3, $gap: 25px) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

@mixin item($height: 100%) {
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  width: 1000px;
  height: $height;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
}

@mixin img-hover {
  opacity: 0.85;
  cursor: pointer;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin hover-img {
  @media (hover: hover) {
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }
}