@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-regular";
  src: url("../fonts/RFDewi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RF-Dewi-Expanded";
  src: url("../fonts/rf-dewi-expanded-bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@media (max-width: 827px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .contact {
    margin-top: 550px;
  }
  .contact__company {
    top: 50px;
  }
  .contact--footer {
    padding-top: 170px;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contact--center {
    text-align: center;
  }
  .cooperation__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .methods__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .partner__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .work__icon {
    width: 50%;
    margin-bottom: 61px;
  }
  .work__icon-description {
    width: 100%;
    min-width: 100px;
    margin-inline: auto;
  }
  .production__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .partners__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .partners__item:first-child {
    display: none;
  }
  .catalog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .catalog__item-price {
    font-size: 14px;
  }
  .shops__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .shops__section-1 img {
    border-radius: 0;
  }
  .shops__section-2 img {
    border-radius: 0px 0px 14px 14px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .catalog__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 450px;
    align-items: center;
    text-align: center;
  }
  .contact--footer {
    margin-top: 0;
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1125px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-inline: 10px;
  margin-inline: auto;
}

.wrapper--line {
  border: 1px solid #2c2c2c;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

html {
  height: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.button {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  display: block;
  border: 0;
  border-radius: 16px;
  background-color: #f4df74;
  max-width: 265px;
  height: 64px;
  padding: 0 36px;
  margin: 40px auto 0;
  cursor: pointer;
}
@media (hover: hover) {
  .button:hover {
    background-color: #eeeeee;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
}

main {
  flex: 1 0 auto;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  z-index: 1;
}
.contact__phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__number {
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.contact__button {
  text-align: left;
  display: inline;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
  box-shadow: none;
  transform: none;
  background-color: transparent;
  border: none;
  outline: none;
}
@media (hover: hover) {
  .contact__button:hover {
    text-decoration: underline;
  }
}
.contact__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-transform: uppercase;
}
.contact__name {
  font-size: 25px;
  font-family: "RF-Dewi-Expanded", sans-serif;
}
.contact__description {
  font-family: "RF-Dewi-Expanded", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.5;
  font-weight: 400;
}
.contact__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__email {
  font-family: "RF-Dewi-Expanded", sans-serif;
  display: block;
  text-transform: uppercase;
}
.contact--footer {
  padding-top: 30px;
}

.contact--capitalize {
  text-transform: capitalize;
}

footer {
  background-color: #1a1a1a;
  flex-shrink: 0;
}

.section__title {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 1.1;
  text-align: center;
  max-width: 840px;
  margin: 0 auto 34px;
  padding-inline: 10px;
  color: #1a1a1a;
}
.section__title--white {
  color: #ffffff;
}
.section__title span {
  display: block;
}

.section__description {
  max-width: 700px;
  text-align: center;
  margin: 0px auto 50px;
  padding-inline: 10px;
}
.section__description--white {
  color: #ffffff;
}

.hero {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #110000;
  opacity: 0.6;
  z-index: -1;
}

.catalog {
  padding-bottom: 275px;
}
.catalog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.catalog__item-price {
  align-self: flex-start;
  font-size: 18px;
  vertical-align: top;
}
.catalog__item-price::after {
  content: " ₽";
}
.catalog__item-img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
  flex-grow: 1;
}
@media (hover: hover) {
  .catalog__item-img:hover {
    opacity: 0.85;
    cursor: pointer;
  }
}
.catalog__item-name {
  font-size: 24px;
}

.presentation {
  background-color: #eeeeee;
}
.presentation__bg {
  margin-top: -225px;
  position: relative;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
  border-radius: 16px;
}
.presentation__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.presentation__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1a1a1a;
  opacity: 0.6;
  z-index: -1;
}
.presentation__video-circle {
  cursor: pointer;
  margin: 20px auto 0;
}
@media (hover: hover) {
  .presentation__video-circle:hover .presentation__play-button {
    opacity: 1;
    background-color: #ffffff;
  }
  .presentation__video-circle:hover .presentation__play-button::before {
    border-left-color: #1a1a1a;
  }
}
.presentation__play-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 105px;
  background-color: #1a1a1a;
  opacity: 0.8;
  border-radius: 50%;
  border: 0;
  transition: opacity 0.2s, background-color 0.2s;
}
.presentation__play-button::before {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 0;
  height: 0;
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 35px solid #ffffff;
  opacity: 1;
  margin-left: 5px;
}

.cooperation {
  background-color: #eeeeee;
}
.cooperation__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.cooperation__item img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
  margin-bottom: 30px;
}

.methods {
  padding-bottom: 300px;
}
.methods__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 30px;
  gap: 25px;
}
.methods__item img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
  margin-bottom: 30px;
}

.partner {
  background-color: #1a1a1a;
}
.partner__bg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  margin-top: -225px;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}
.partner__bg img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}
.partner__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #1a1a1a;
  opacity: 0.6;
}
.partner__info {
  position: absolute;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  z-index: 1;
}

.work {
  background-color: #1a1a1a;
  padding-bottom: 130px;
}
.work__icons {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.work__circle {
  width: 114px;
  height: 114px;
  background-color: #222222;
  border-radius: 50%;
  position: relative;
  display: flex;
  margin: 0 auto 42px auto;
}
.work__svg {
  margin: auto;
}
.work__icon-description {
  max-width: 160px;
  color: #ffffff;
}

.production {
  padding-bottom: 275px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.production__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.production__item {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
}
@media (hover: hover) {
  .production__item:hover {
    opacity: 0.85;
    cursor: pointer;
  }
}

.shops {
  background-color: #1a1a1a;
}
.shops__bg {
  margin-top: -225px;
  background-color: #eeeeee;
  border-radius: 14px 14px 20px 20px;
  padding-top: 100px;
}
.shops__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.shops__section-1 {
  position: relative;
}
.shops__section-1 img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
  border-radius: 0px 0px 0px 14px;
}
.shops__section-2 {
  position: relative;
}
.shops__section-2 img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
  border-radius: 0px 0px 14px 0px;
}
.shops--white {
  color: #ffffff;
  position: absolute;
  left: 27px;
  bottom: 25px;
  max-width: clamp(280px, 70vw, 315px);
  text-align: left;
}

.partners {
  background-color: #1a1a1a;
}
.partners__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.partners__items img {
  aspect-ratio: 1/1;
  border-radius: 4px;
  width: 1000px;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.2s ease;
  display: block;
}
@media (hover: hover) {
  .partners__items img:hover {
    opacity: 0.85;
    cursor: pointer;
  }
}

@media (max-width: 827px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  .contact {
    margin-top: 550px;
  }
  .contact__company {
    top: 50px;
  }
  .contact--footer {
    padding-top: 170px;
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .contact--center {
    text-align: center;
  }
  .cooperation__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .methods__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .partner__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .work__icon {
    width: 50%;
    margin-bottom: 61px;
  }
  .work__icon-description {
    width: 100%;
    min-width: 100px;
    margin-inline: auto;
  }
  .production__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .partners__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .partners__item:first-child {
    display: none;
  }
  .catalog__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .catalog__item-price {
    font-size: 14px;
  }
  .shops__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .shops__section-1 img {
    border-radius: 0;
  }
  .shops__section-2 img {
    border-radius: 0px 0px 14px 14px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .catalog__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 450px;
    align-items: center;
    text-align: center;
  }
  .contact--footer {
    margin-top: 0;
  }
}/*# sourceMappingURL=styles.css.map */