@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "utils";
@import "globals";
@import "basic";

.section__title {
  font-family: "RF-Dewi-Expanded", sans-serif;
  line-height: 1.1;
  text-align: center;
  max-width: 840px;
  margin: 0 auto 34px;
  padding-inline: 10px;
  color: $color-dark;

  &--white {
    color: $color-white;
  }

  & span {
    display: block;
  }
}

.section__description {
  max-width: 700px;
  text-align: center;
  margin: 0px auto 50px;
  padding-inline: 10px;

  &--white {
    color: $color-white;
  }
}

.hero {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;

  &__img {
    @include absolute;

    border-radius: inherit;
    object-fit: cover;
    object-position: center;
    z-index: -2;
  }

  &::before {
    content: "";
    @include absolute;

    background-color: $color-hero;
    opacity: 0.6;
    z-index: -1;
  }
}

.catalog {
  padding-bottom: 275px;

  &__items {
    @include items;
  }

  &__item {
    &-price {
      align-self: flex-start;
      font-size: 18px;
      vertical-align: top;

      &::after {
        content: " ₽";
      }
    }

    &-img {
      @include item;
      @include hover-img;

      flex-grow: 1;
    }

    &-name {
      font-size: 24px;
    }
  }
}

.presentation {
  background-color: $color-grey;

  &__bg {
    margin-top: -225px;
    position: relative;
    min-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: hidden;
    border-radius: 16px;
  }

  &__img {
    @include absolute;
    object-fit: cover;
    z-index: -2;
  }

  &__bg::before {
    content: "";
    @include absolute;
    background-color: $color-dark;
    opacity: 0.6;
    z-index: -1;
  }

  &__video-circle {
    cursor: pointer;
    margin: 20px auto 0;

    @include hover {
      .presentation__play-button {
        opacity: 1;
        background-color: $color-white;

        &::before {
          border-left-color: $color-dark;
        }
      }
    }
  }

  &__play-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 105px;
    height: 105px;
    background-color: $color-dark;
    opacity: 0.8;
    border-radius: 50%;
    border: 0;
    transition: opacity 0.2s, background-color 0.2s;

    &::before {
      @include absolute(30%, 30%, 0, 0);
      content: "";
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 35px solid $color-white;
      opacity: 1;
      margin-left: 5px;
    }
  }
}

.cooperation {
  background-color: $color-grey;

  &__items {
    @include items;
  }

  &__item {
    img {
      @include item(auto);
      margin-bottom: 30px;
    }
  }
}

.methods {
  padding-bottom: 300px;

  &__items {
    @include items(2);

    margin-top: 30px;
    gap: 25px;
  }

  &__item {
    img {
      @include item(auto);
      margin-bottom: 30px;
    }
  }
}

.partner {
  background-color: $color-dark;

  &__bg {
    @include items(2, 0);

    margin-top: -225px;
    border-radius: 14px;
    position: relative;
    overflow: hidden;

    img {
      height: 350px;
      object-fit: cover;
      width: 100%;
    }
  }

  &__bg::after {
    @include absolute;

    content: "";
    background-color: $color-dark;
    opacity: 0.6;
  }

  &__info {
    @include absolute(20%, 0%, 100%, 100%);

    margin-top: 50px;
    z-index: 1;
  }
}

.work {
  background-color: $color-dark;
  padding-bottom: 130px;

  &__icons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }

  &__circle {
    width: 114px;
    height: 114px;
    background-color: $color-circle;
    border-radius: 50%;
    position: relative;
    display: flex;
    margin: 0 auto 42px auto;
  }

  &__svg {
    margin: auto;
  }

  &__icon-description {
    max-width: 160px;
    color: $color-white;
  }
}

.production {
  padding-bottom: 275px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__items {
    @include items(3);
  }

  &__item {
    @include item;
    @include hover-img;
  }
}

.shops {
  background-color: $color-dark;

  &__bg {
    margin-top: -225px;
    background-color: $color-grey;
    border-radius: 14px 14px 20px 20px;
    padding-top: 100px;
  }

  &__items {
    @include items(2, 0);
  }
  &__section-1 {
    position: relative;

    & img {
      @include item;
      border-radius: 0px 0px 0px 14px;
    }
  }

  &__section-2 {
    position: relative;

    & img {
      @include item;
      border-radius: 0px 0px 14px 0px;
    }
  }

  &--white {
    color: $color-white;
    position: absolute;
    left: 27px;
    bottom: 25px;
    max-width: clamp(280px, 70vw, 315px);
    text-align: left;
  }
}
.partners {
  background-color: $color-dark;

  &__items {
    @include items(3);

    img {
      @include item;
      @include hover-img;
    }
  }
}

@import "media";
