@import "variables";
@import "mixins";

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

.section__title {
  @include section-title($color-dark);
}

.section__description {
  @include section-description($color-dark);
}

// .title--white {
//   color: $color-white;
// }

// .description--white {
//   position: relative;
//   color: $color-white;
// }
